body {
    margin: 0;
    font-family: Comic Sans MS, cursive, sans-serif;
}

.navigation {
    text-align: center;
}

.breadcrumb {
    list-style-type: none;
}

.breadcrumb>li {
    display: inline-block;
    margin-right: 10px;
	font-size:1.2em;
}

.breadcrumb>li:not(:last-child):after {
    display: inline;
    content: '/';
    position: relative;
    left: 10px;
}

.section img {
    max-width: 100%;
}

.logo {
    overflow: hidden;
    background-color: #333;
    float: left;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 26px 16px;
    text-decoration: none;
}

.navbar a.active {
    background-color: #7A5D00;
    color: white;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 26px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #7A5D00;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #7A5D00;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.imagecenter {
    text-align: center;
}

p {
    margin: 2em;
}


h2 {
	text-align: center;
	font-size:27px;

}


ul {
    margin: 1.5em;
}


.line1 {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));		
}
	<!-- Source: https://css-tricks.com/examples/hrs/. Accessed: November 8, 2020 -->


.leftblock {
	float:left;
	width:30%;
}

.rightblock {
	float: right;
	width: 70%;
}

.comments {
	width: 80%;
	height: 100px;
	padding: 10px;
}
form {
	padding-left: 20px;
	padding: 20px;
}
footer {
	 text-align: center
}

